html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    color: black;
}

//grid template for mobile
.container {
    background-image: url(../img/cutting-board-background-2065305_1920.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 'header'
        'sidebar'
        'main'
        'footer';

    header {
        grid-area: header;
    }

    h1 {
        text-align: center;
        margin: 0;
    }

    .nav ul {
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: 0;
        padding: .5em 0;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .main {
        // background-color: skyblue;
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    //grid template for tablet and larger
    @include media-query (tab) {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'header header header header header'
            'sidebar sidebar main main main'
            'footer footer footer footer footer';
    }
}

.heading,
.sidebar,
.main,
footer {
    padding: .5em 2em;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

.item-img {
    width: 100%;
    box-shadow: 0px 2px 20px black;
    border-radius: 5%;
    border: 2px solid black;
}

header,
footer {
    color: white;
    background-color: #0F3858;
}
